:root {
  --color-hover: red;
  --menu-bg: aquamarine;
  --main: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#menu-title {
  cursor: pointer;
  font-size: 16px;
}
#menu-title:hover {
  color: var(--color-hover);
}
.nav-wrap {
  position: absolute;
  height: 100vh;
  width: 5vw;
  background-color: var(--menu-bg);
  padding: 20px;
}
nav {
  margin-top: 20px;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
}
li:hover {
  color: var(--color-hover);
}
li > p:last-child {
  display: none;
}
.red {
  color: var(--color-hover);
}
.black {
  color: var(--main);
  font-size: 1rem;
}
section {
  padding: 40px 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  max-width: 80%;
  margin-left: 15%;
}
.slider-item {
  height: 40vh;
  margin: 0 10px;
}
.slider-item img {
  width: 100%;
  height: 100%;
  /* height: auto; */
  object-fit: cover;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(177, 177, 235);
}
